.profiles__group p {
  position: absolute;
  background-color: white;

  color: black;
  padding: 2px 5px;
  top: 50px;
  text-align: center;
  left: 100%;
  font-size: bold;  
  transform: translatex(-90%);
  display: none;
}

.profiles__group:hover p {
  display: inline;
}
